/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Consolas, monaco, monospace;
}

.menu-container {
    /* Styles for the menu container */
}

.menu-toggle {
    /* Styles for the menu button */
    cursor: pointer;
    /* Indicate clickable element */
}

.menu-content {
    max-height: 0;
    /* Initially hidden */
    overflow: hidden;
    /* Clip content that overflows */
    transition: max-height 0.3s ease-in-out;
    /* Smooth transition */
}

/* Hide the checkbox visually */
input[type="checkbox"] {
    display: none;
}

/* When checkbox is checked, target the menu content */
input[type="checkbox"]:checked ~ .menu-content {
    max-height: 100%;
    /* Show the menu content */
}

html {
    /* Standard text-settings below */
    font-size: 1em;
    line-height: 1.4em;
    font-family: Consolas, monaco, monospace;
}

footer {
    color: #ba9106;
    font-family: Consolas, monaco, monospace;
}

figcaption {
    color: white;
    font-family: Consolas, monaco, monospace;
}

body {
    background: #017b85;
    color: #fcd03d;
    font-family: Consolas, monaco, monospace;
}


#container {
    width: 800px;
    margin: auto;
    font-family: Consolas, monaco, monospace;
}

nav a {
    color: white;
    font-family: Consolas, monaco, monospace;
}

h2 {
    color: #fcdb6a;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a:hover {
    color: #302f29;
}

.image-container {
    border-radius: 100%;
    transition: border-radius 0.3s ease-in-out;
    width: 300px;
    height: 400px;
}

.image-container:hover {
    border-radius: 109px;
}

.image-container {
    overflow: hidden;
    width: 300px;
    height: 400px;
}

.image-container img {
    width: 300px;
    height: 400px;
}

.image-container:hover img {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.image-container:not(:hover) img {
    transition: transform 0.2s ease-in-out;
    /* Smooth zoom-out */
}

.image-container-index {
    border-radius: 75px;
    transition: border-radius 0.3s ease-in-out;
    width: 400px;
    height: 300px;
}

.image-container-index:hover {
    border-radius: 25px;
}

.image-container-index {
    overflow: hidden;
    width: 400px;
    height: 300px;
}

.image-container-index img {
    width: 400px;
    height: 300px;
}

.image-container-index:hover img {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.image-container-index:not(:hover) img {
    transition: transform 0.2s ease-in-out;
    /* Smooth zoom-out */
}

#experiment-button {
    background-color: #017b85;
    color: #000;
    margin-top: 10px;
    padding: 0px 5px;
    border: 3px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1.4em;
    font-family: Consolas, monaco, monospace;
    transition: opacity 0.5s ease-in-out;
}

#experiment-button:hover {
    animation: color-cycle 2s linear infinite;
    transition: opacity 0.5s ease-in-out;

}

#experiment-button:not(:hover) {
    opacity: 0%;
    transition: opacity 0.1s ease-in-out;
}

@keyframes color-cycle {
    0% {
        background-color: #B24C63;
    }

    25% {
        background-color: #5438dc;
    }

    50% {
        background-color: #357DED;
    }

    75% {
        background-color: #56EEF4;
    }

    100% {
        background-color: #B24C63;
    }
}

.grid-ass {
    display: grid;
    grid-template-columns: repeat();

    grid-gap: 10px;
}

.grid-ass a {}

.ass-one-two {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: grid;
}

.ass-three {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: grid;
}

.ass-four {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: grid;
}

.ass-five {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: grid;
}

.ass-six {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: grid;
}

.ass-seven {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: grid;
}

.ass-eight {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: grid;
}

.ass-nine {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: grid;
}

#home-exp-button {}

/* IM WORKING ON EVERYTHING BELOW HERE

#stripe-container {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0px;
    height: 28vh;
    min-height: 240px;
    width: 100%;
    min-width: 2000px;
    background-color: rgb(var(230 230 230));

    clip-path: polygon(0% 5%, 1.25% 0%, 2.5% 5%,
            3.75% 0%, 5% 5%, 6.25% 0%,
            7.5% 5%, 8.75% 0%, 10% 5%,
            11.25% 0%, 12.5% 5%, 13.75% 0%,
            15% 5%, 16.25% 0%, 17.5% 5%,
            18.75% 0%, 20% 5%, 21.25% 0%,
            22.5% 5%, 23.75% 0%, 25% 5%,
            26.25% 0%, 27.5% 5%, 28.75% 0%,
            30% 5%, 31.25% 0%, 32.5% 5%,
            33.75% 0%, 35% 5%, 36.25% 0%,
            37.5% 5%, 38.75% 0%, 40% 5%,
            41.25% 0%, 42.5% 5%, 43.75% 0%,
            45% 5%, 46.25% 0%, 47.5% 5%,
            48.75% 0%, 50% 5%, 51.25% 0%,
            52.5% 5%, 53.75% 0%, 55% 5%,
            56.25% 0%, 57.5% 5%, 58.75% 0%,
            60% 5%, 61.25% 0%, 62.5% 5%,
            63.75% 0%, 65% 5%, 66.25% 0%,
            67.5% 5%, 68.75% 0%, 70% 5%,
            71.25% 0%, 72.5% 5%, 73.75% 0%,
            75% 5%, 76.25% 0%, 77.5% 5%,
            78.75% 0%, 80% 5%, 81.25% 0%,
            82.5% 5%, 83.75% 0%, 85% 5%,
            86.25% 0%, 87.5% 5%, 88.75% 0%,
            90% 5%, 91.25% 0%, 92.5% 5%,
            93.75% 0%, 95% 5%, 96.25% 0%,
            97.5% 5%, 98.75% 0%, 100% 5%,
            100% 100%, 0% 100%);
}

#stripe-pattern {
    height: 100%;
    width: 100%;
    background-size: 18px 18px;
    background-image: linear-gradient(-45deg,
            rgb(var(--primary-stripe-rgb)) 25%,
            rgb(var(--secondary-stripe-rgb)) 25%,
            rgb(var(--secondary-stripe-rgb)) 50%,
            rgb(var(--primary-stripe-rgb)) 50%,
            rgb(var(--primary-stripe-rgb)) 75%,
            rgb(var(--secondary-stripe-rgb)) 75%,
            rgb(var(--secondary-stripe-rgb)) 100%);
    box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgb(0 0 0 / 40%);
    animation: pan 360s linear infinite;
}

#modal-background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-image: url("https://assets.codepen.io/1468070/Repeatable+Pattern+-+Wavy+Lines.png?format=auto&quality=80");
    background-size: 200%;
    opacity: 0.3;
    animation: move-background 50s linear infinite;
}
