/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "Lexend", sans-serif;
}

.word {
    padding-top: 30px;
    transition: 0.2s ease;
    transition: font-weight 0.3s ease-in-out;
    letter-spacing: -0.1em;
}

.word span {
    display: inline;
    transition: 0.2s ease;
    transition: font-weight 0.3s ease-in-out;
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
}

#space {
    padding-right: 40px;
}

.word span:hover {
    color: #fcd03d;
    font-weight: 900;
    transition: 0.2s ease;
    transition: font-weight 0.3s ease-in-out;
}

.menu-container {}

.menu-toggle {
    cursor: pointer;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .menu-content {
    max-height: 100%;
}

html {
    font-size: 1em;
    line-height: 1.4em;
    font-family: Consolas, monaco, monospace;
}

footer {
    color: #ba9106;
    font-family: Consolas, monaco, monospace;
}

figcaption {
    color: white;
    font-family: Consolas, monaco, monospace;
}

body {
    background: #017b85;
    color: #fcd03d;
    font-family: Consolas, monaco, monospace;
}


#container {
    width: 800px;
    margin: auto;
    font-family: Consolas, monaco, monospace;
    padding-top: 40px;

}

#container::after {
    margin: auto;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Credit-to-Zander.webp");
    animation: move-background 30s linear infinite;
    opacity: 0.15;
    z-index: -1;
    position: fixed;

}

@keyframes move-background {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 94.5% 0%;
    }
}

nav a {
    color: white;
    font-family: Consolas, monaco, monospace;
    text-decoration: none;

}

h2 {
    color: #fcdb6a;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a:hover {
    color: #302f29;
}

.image-container {
    border-radius: 100%;
    transition: border-radius 0.3s ease-in-out;
    width: 300px;
    height: 400px;
}

.image-container:hover {
    border-radius: 109px;
}

.image-container {
    overflow: hidden;
    width: 300px;
    height: 400px;
}

.image-container img {
    width: 300px;
    height: 400px;
}

.image-container:hover img {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.image-container:not(:hover) img {
    transition: transform 0.6s ease-in-out;
}

.image-container-index {
    margin-bottom: 10px;
    border-radius: 75px;
    position: relative;
    transition: border-radius 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    width: 400px;
    height: 300px;
    overflow: hidden;
    outline: 0.2rem solid white;
    outline-offset: 0.2rem;
}

.image-container-index:hover {
    border-radius: 25px;
    background-color: #fcd03d;
    outline: 0.2rem solid #302f29;
    transition: 0.2s ease-in-out;
}

.image-container-index img {
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.image-container-index:hover img {
    transform: scale(1.05);

}

#experiment-button {
    background-color: #017b85;
    color: #000;
    margin-top: 1px;
    padding: 0px 5px;
    border: 3px solid transparent;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1.4em;
    font-family: Consolas, monaco, monospace;
    transition: opacity 0.5s ease-in-out;
}

#experiment-button:hover {
    animation: color-cycle 2s linear infinite;
}

#experiment-button:not(:hover) {
    opacity: 0%;
}

@keyframes color-cycle {
    0% {
        background-color: #B24C63;
    }

    25% {
        background-color: #5438dc;
    }

    50% {
        background-color: #357DED;
    }

    75% {
        background-color: #56EEF4;
    }

    100% {
        background-color: #B24C63;
    }
}

.grid-ass {
    display: grid;
    grid-template-columns: repeat();
    grid-gap: 10px;
}

#ass-one-two,
#ass-three,
#ass-four,
#ass-five,
#ass-six,
#ass-seven,
#ass-eight,
#ass-nine {
    font-size: 25px;
    float: left;
    width: 200px;
    height: 120px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.2s ease-in-out;
}

#ass-one-two:is(:hover),
#ass-three:is(:hover),
#ass-four:is(:hover),
#ass-five:is(:hover),
#ass-six:is(:hover),
#ass-seven:is(:hover),
#ass-eight:is(:hover),
#ass-nine:is(:hover) {}

ass-one-two-fade {
    background: linear-gradient(to left, red, blue);
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.nav-button:is(:hover) .nav-fade {
    display: block;
}

ass-three-fade {}

ass-four-fade {}

ass-five-fade {}

ass-six-fade {}

ass-seven-fade {}

ass-eight-fade {}

ass-nine-fade {}



#ass-one-two a,
#ass-three a,
#ass-four a,
#ass-five a,
#ass-six a,
#ass-seven a,
#ass-eight a,
#ass-nine a {
    overflow: auto;
    padding-top: 10px;
    display: flex;
    text-align: center;
    color: black;
    background: white;
    border-radius: 40px;
    transition: 0.6s ease-in-out;
    z-index: 2;
}

#ass-one-two a:is(:hover),
#ass-three a:is(:hover),
#ass-four a:is(:hover),
#ass-five a:is(:hover),
#ass-six a:is(:hover),
#ass-seven a:is(:hover),
#ass-eight a:is(:hover),
#ass-nine a:is(:hover) {
    background: #302f29;
    color: white;
    z-index: 2;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}

#ass-one-two a:is(:hover),
#ass-three a:is(:hover),
#ass-four a:is(:hover),
#ass-five a:is(:hover),
#ass-six a:is(:hover),
#ass-seven a:is(:hover),
#ass-eight a:is(:hover),
#ass-nine a:is(:hover) .ass-one-two-fade {
    display: block;

}

.ass-one-two-fade {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: linear-gradient(to left, rgb(253, 224, 71), transparent 60%);
}

/* BELOW HERE IS IMPORTANT. DO NOT FORGET TO FINISH THIS, IDIOT */


#nav-buttons {
    display: flex;

}

.grid-container {
    flex-wrap: wrap;
    justify-content: center;
}

.nav-button {
    flex: 1 1 30%;
    text-align: center;
    background: white;
    border-radius: 60px;
    font-family: Consolas, monaco, monospace;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 2.5%;
    padding-bottom: 2%;
    position: relative;
    font-size: 20%;
    border: none;
    outline: 0.2rem solid white;
    outline-offset: 0.2rem;
    overflow: hidden;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .nav-button {
        flex-basis: auto;
        flex: 1 1 50%;
        margin: 10px;
        width: 3%;
    }
}

.nav-button:is(:hover) {
    background-color: white;
    outline: 0.2rem solid #302f29;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
}

.nav-button:is(:hover) .nav-fade {
    display: block;

}

.nav-fade {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    background: linear-gradient(to left, rgb(253, 224, 71), transparent 60%);
}

.nav-button-font {
    position: relative;
    z-index: 2;
    color: black;
    font-size: 1.25rem;
}
