/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    display: inline-block;
    justify-content: center;
}

html {
    /* Standard text-settings below */
    font-size: 1em;
    line-height: 1.4em;
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

.vidimg {
    text-align: center;
}

.vidimg img {
    margin-right: 10px;
    width: 425px;
    /* Adjust margin for spacing between image and video */
}

.vidimg iframe {
    width: 500px;
    height: 350px;
}

body {
    background: black;
}


#container {
    width: 80%;
    margin: auto;
    color: white;
}

header,
footer {
    background: black;
    color: dimgray;
}

header {
    padding: 2em;
    text-align: center;
}

footer {
    padding: 1em;
    color: darkgray;
}


figure {
    margin: 10px;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 10px;
    background: #880808;

}

figure img {
    width: 20%;

}

section {
    background: #fceda9;
    padding: 1em;
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */


/* Minimum width for laptops. */
@media all and (max-width: 670px) {
    .vidimg iframe {
        width: 80%;
        height: 200px;
    }

    .vidimg img {
        width: 80%;
        height: 30%;
        /* Adjust margin for spacing between image and video */
    }

    /* closes 769px+ */


    /* Minimum width for desktop screens. */
    @media all and (min-width: 1024px) {}

    /* closes 1024px+ */
